<div class="container">
  <h2>Toy Robot Simulation</h2>
  <div class="form-group">
    <label class="commandText" for="commandInput">Enter command:</label>
    <input type="text" class="form-control commandInput" [(ngModel)]="commandInput" autofocus>
  </div>
  <div class="button-container">
    <button class="btn btn-primary execute" (click)="executeCommand()">Execute</button>
    <button class="btn btn-danger reset" (click)="reset()">Reset</button>
  </div>

  <mat-card>
    <mat-card-content class="card-output">
      <h3>Example Input:</h3>
      <p>1. PLACE 0,0,NORTH</p>
      <p>2. MOVE</p>
      <p>3. REPORT</p>
    </mat-card-content>
    <mat-card-content>
      <h3>Expected Output:</h3>
      <p>Output: 0,1,NORTH</p>
    </mat-card-content>
  </mat-card>

  <div class="command" *ngIf="commandList.length > 0">
    <h3>Commands:</h3>
    <ul>
      <li *ngFor="let command of commandList">{{ command }}</li>
    </ul>
  </div>

  <mat-card *ngIf="reportOutput !== ''">
    <mat-card-content class="card-output">
      <h3>Output:</h3>
      <p>{{ reportOutput }}</p>
    </mat-card-content>
  </mat-card>
</div>
